body {
	margin: 0;
	padding: 0;
	background: #dedede;
    font-family: 'PT Sans', sans-serif;
}

#skippy {
	padding: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    color: #fff;
    background-color: #6f5499;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
}

.carousel {
	margin-top: -20px;
}

.carousel {
	position: relative;
}

div {
	display: block;
}

.image-slide {
	width: 0px auto;
}

header {
    margin-bottom: 20px;
}

    /*
    Credits:
    Code snippet by @maridlcrmn (Follow me on Twitter)
    Images by Nike.com (http://www.nike.com/us/en_us/)
    Logo by Sneaker-mission.com (http://www.sneaker-mission.com/)
    */
    .navbar {
        margin-bottom: 0px;
    }
    .nav-tabs {
      display: inline-block;
      border-bottom: none;
      padding-top: 15px;
      font-weight: bold;
    }
    .nav-tabs > li > a,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      border: none;
      border-radius: 0;
    }
    .nav-list { 
      border-bottom: 1px 
      solid #eee; 
    }
    
    .nav-list > li {
      padding: 20px 15px 15px;
      border-left: 1px solid #eee;
    }
    .nav-list > li:last-child { 
      border-right: 1px 
      solid #eee; 
    }
    
    .nav-list > li > a:hover { 
      text-decoration: none; 
    }
    
    .nav-list > li > a > span {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
    }

    .mega-dropdown { 
      position: static 
      !important; 
    }

    .mega-dropdown-menu {
      padding: 20px 15px 15px;
      text-align: center;
      width: 100%;
    }

    .container-fluid .isi {
      padding: 55px;
    }

            /* MEGA MENU STYLE
        ********************************/ 
        .mega-menu {
            padding: 10px 0px ! important;
            width: 540px;
            border-radius: 0;
            margin-top: 0px;
        }

        .mega-menu li.mega-menu-column {
            margin-right: 20px;
            width: 100%;
        }

        .mega-menu .nav-header {
            padding: 0 !important;
            margin-bottom: 10px;
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #ddd;
        }
          
        .mega-menu img { 
            padding-bottom: 10px;
        }

        /* Disable Toggle style
        ********************************/  

        /* Dropdown Toggle on style */
        .navbar .nav li.dropdown.open > .dropdown-toggle, 
        .navbar .nav li.dropdown.active > .dropdown-toggle, 
        .navbar .nav li.dropdown.open.active > .dropdown-toggle {
            background: inherit; /* Set to inherit when using mouse hover to open dropdown */
            color: inherit;
        }   
        
        /* Toggle off style */
        .navbar .nav li.dropdown.open.active > .dropdown-toggle,
        .navbar .nav > li.dropdown > a:focus { 
            background: inherit;
            color: inherit;
        }
            
        /* Toggle hover */
        .navbar .nav li.dropdown > .dropdown-toggle:hover,
        .navbar .nav li.dropdown.open > .dropdown-toggle:hover {
            background-color: #DDDDDD;
        }
                                
         /* Toggle caret*/
         .navbar .nav li.dropdown > .dropdown-toggle .caret {
            border-bottom-color:;
            border-top-color:;
        }
        /* Toggle caret hover */
        .navbar .nav li.dropdown > a:hover .caret, 
        .navbar .nav li.dropdown > a:focus .caret {
            border-bottom-color: #333;
            border-top-color: #333;
        }
        /* Toggle caret active */
        .navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
        .navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
        .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
            border-bottom-color:#333;
            border-top-color: #333;
        }

        /* Hover style
        ********************************/ 
        .navbar .nav > li > a, .mega-menu a { 
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease; 
            
            /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
            -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
            -webkit-transform: translateZ(0);
        }   

        .mega-dropdown { 
            position: static !important;/*width:100%;*/
        }

        .mega-dropdown-menu {
          padding: 20px 0px;
          width: 100%;
          box-shadow: none;
          -webkit-box-shadow: none;
        }

        .mega-dropdown-menu > li > ul {
          padding: 0;
          margin: 0;
        }

        .mega-dropdown-menu > li > ul > li { 
            list-style: none; 
        }

        .mega-dropdown-menu > li > ul > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.428571429;
            color: #999;
            white-space: normal;
        }

        .mega-dropdown-menu > li ul > li > a:hover,
        .mega-dropdown-menu > li ul > li > a:focus {
            text-decoration: none;
            color: #444;
            background-color: #f5f5f5;
        }

        .mega-dropdown-menu .dropdown-header {
            color: #428bca;
            font-size: 18px;
            font-weight: bold;
        }

        .mega-dropdown-menu form { margin: 3px 20px; }

        .mega-dropdown-menu .form-group { margin-bottom: 3px; }

        .dropdown.mega-dropdown:hover > .dropdown-menu.mega-dropdown-menu.row { display: block; }
        
        .dropdown-menu.mega-dropdown-menu.row li:hover {
          /* padding: 10px; */
          list-style-position: inside;
          background: #fff;
        }

        .megamenu-headline { padding: 0 32px; }


/* FOOTER 
================================================== */

.footerWidget #footerLogo {
    width: 100px;
    height: 80px;
}

footer {
    color:#777;
    background:#222;
    border-top:2px solid #444;
}

footer h1,footer h2,footer h3,footer h4{
    color:#ddd;
    font-weight:300;
}

#footerRights {
    background-color:#333;
    color:#999;
    border-top:1px solid #1b1b1b;
}

footer{padding:44px 0 0 0;}
#footerLogo {margin-bottom: 22px;}
#footerRights {padding-top:22px;padding-bottom:22px;margin-top:22px; text-align: center; font-size:10px;}
.footerWidget {margin-bottom: 22px}

/* footer 1 */
.worksList li{display:inline-block; margin: 0 10px 10px 0;}

/* footer 4 */
.footer4 #footerRights {text-align: left; background:#333;}
.bigTitle.bigTitleFooter {font-size: 2em; margin-bottom: 0;}


@media(min-width:992px){
    /* footer 4 */
    .footer4 #footerRights .quickMenu {float:right;}
    /* footer 5 */
    .footer5 #footerRights p{float: left;}
    .footer5 #footerRights .socialNetwork{float: right;}
}

ul.socialNetwork {padding:0; display: block; margin-bottom: 0;}
ul.socialNetwork li {display:inline-block; list-style-type: none; margin-top: 0.8em;}

/*** icons ***/
.iconRounded{
    border-radius:50%;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    font-size:18px; 
}

.iconRounded:before{margin: auto;text-align: center; line-height: 40px; }
.iconBig{
    font-size: 40px;
}

.iconBig.iconRounded{
    width:100px;
    height: 100px;
}

.iconBig.iconRounded:before{
    line-height: 100px; 
}

.iconMedium {
    font-size: 33px;
}

.iconMedium.iconRounded{
    width: 66px;
    height: 66px;
}

.iconMedium.iconRounded:before{
    line-height: 66px;  
}

.iconSmall:before {
    font-size: 10px;
}

.iconSmall.iconRounded{
    width: 26px;
    height: 26px;
}

.iconSmall.iconRounded:before{
    line-height: 26px;  
}

/* END FOOTER 
================================================== */
    .label-containter {
      height: 65px;
      border-bottom: 4px solid #bd081c;
      margin-top: 35px;
    }

    .label {
      margin-top: 0pc;
      float: left;
      width: 350px;
      height: 0;
      border-top: 0px solid #bd081c;
      border-bottom: 60px solid #bd081c;
      border-right: 4pc solid transparent;
      color: #ffffff;
      padding-left: 15px;
      font-family: Roboto, sans-serif;
    }

    .label-title {
      font-weight: normal;
      font-size: 22px;
      padding: 1px 1px 1px 1px;
    }

    .img-label {
      height: 20px;
      width: 20px;
    }

    .bg-green {
        border-top: 0px solid #689F38;
        border-bottom: 60px solid #689F38;
    }

    .bg-blue {
        border-top: 0px solid #1976D2;
        border-bottom: 60px solid #1976D2;
    }