body {
	margin: 0;
	padding: 0;
	background: #dedede;
}

#skippy {
	padding: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    color: #fff;
    background-color: #6f5499;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
}

.carousel {
	margin-top: -20px;
}

.carousel {
	position: relative;
}

div {
	display: block;
}

.image-slide {
	width: 0px auto;
}